@model RequestAnswerModel
@{
	ViewData["Title"] = "Request Status";
}

<h1>Request Status</h1>
@if (Model.isSuccess)

{
	<h2 class="text-success">Request was successful!</h2>
	;
}
else{
	<h2>@Model.message</h2>
}

