@using Final.Web.Models.BankAccounts
@model AccountsListModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
	<h2 class="mb-4 text-center fw-bold">Accounts</h2>

	<div class="table-responsive">
		<table class="table table-striped table-hover align-middle text-center">
			<thead class="table-dark">
				<tr>
					<th>Account ID</th>
					<th>Account Number</th>
					<th>Balance (лв.)</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var acc in Model.Accounts)
				{
					<tr>
						<td>@acc.AccId</td>
						<td>@acc.AccNumber</td>
						<td>@acc.AccBalance.ToString("F2")</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
